body {
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8698c0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    float: left;
}

.logo-container {
    float: left;
    color: #ff0000;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s;
}

li a:hover {
    color: #ddd;
}

.right {
    float: right;
}

.right a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.right a:hover {
    color: #ddd;
}

form {
    margin-top: 80px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 15vh;
    margin-top: 40px;
    background-color: #e1dddd;
}

main.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 150vh;
    margin-top: 1px;
    background-color: #ffffff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
